<div class="container">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input [(ngModel)]="studentFormData.firstName" type="text" class="form-control" id="firstName">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input [(ngModel)]="studentFormData.email" type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input [(ngModel)]="studentFormData.address" type="text" class="form-control" id="address">
    </div>
    <!-- <div class="form-group">
      <label for="result">Result:</label>
      <input [(ngModel)]="studentFormData.result" type="text" class="form-control" id="result">
    </div> -->
    <div class="form-group">
      <label for="marks">Marks:</label>
      <input [(ngModel)]="studentFormData.marks" type="number" class="form-control" id="marks">
    </div>
    <button type="submit" (click)="onSubmit(studentFormData)" class="btn btn-primary">Submit</button>
</div>